### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [22]:
total_players = purchase_data["SN"].value_counts()
len(total_players)

576

In [23]:
data_frame = pd.DataFrame({"Total Players": [len(total_players)]})
data_frame

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [24]:
unique_items = purchase_data["Item Name"].unique()
number_of_unique_items = len(unique_items)

average_price = purchase_data["Price"].mean()
number_purchase = purchase_data["Purchase ID"].count()
total_revenue = purchase_data["Price"].sum()

data_frame = pd.DataFrame({"Number of Unique Items": [number_of_unique_items],
                           "Average Price": [average_price],
                           "Number of Purchases": [number_purchase],
                           "Total Revenue": [total_revenue]
                         
                          })
data_frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
nodup_df = purchase_data.loc[: , ["Gender", "SN", "Age"]].drop_duplicates()
nodup_df

gender_df = nodup_df.groupby("Gender").count()["SN"]
gender_df

gender_totals = nodup_df["Gender"].count()
gender_totals

dem_per = (gender_df / gender_totals) * 100
dem_per

genderstats_df = pd.DataFrame({"Total Count": gender_df, 
                              "Percentage of Players": dem_per})
genderstats_df
genderstats_df.style.format({"Percentage of Players" : "{:,.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
purchase_gender = purchase_data.groupby("Gender").count()["SN"]
purchase_gender

spending_count = purchase_data.groupby("Gender").sum()["Price"]
spending_count

avg_purch = purchase_data.groupby("Gender").mean()["Price"]
avg_purch

total_purch = spending_count / gender_df
total_purch

gender_analysis_df = pd.DataFrame({"Purchase Count": purchase_gender,
                                   "Average Purchase Price": avg_purch,
                                   "Total Purchase Value": spending_count,
                                   "Avg Total Purchase per Person": total_purch
                                   })
gender_analysis_df

gender_analysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}",
                                 "Avg Total Purchase per Person": "${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [55]:
bins = [0, 9, 14, 19, 24, 29, 34, 39,(purchase_data["Age"],max())]
labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pd.cut(purchase_data["Age"], bins, labels).head()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins, labels=labels)
ages_demo = purchase_data.drop_duplicates(subset=["SN"], keep="first")

ages_demo.head()

TypeError: max expected 1 arguments, got 0

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [54]:
age_bins = [0, 9, 14, 19, 24, 29, 34, 39,(purchase_data["Age"],max())]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

age_range = pd.cut(purchase_data["Age"], 8, labels= age_bins)
               
age_groups = purchase_data.groupby["Age"].count()
purchase_count = age_groups.count()["Price"]
avg_count = age_groups.mean()["Price"]
total_value = age_groups.sum()["Price"]
per_person_avg = total_value / purchase_count

age_demo1 = pd.DataFrame({"Purchase Count": purchase_count,
                                  "Average Purchase Price": avg_count,
                                  "Total Purchase Value": total_value,
                                  "Avg Total Purchase per Person": per_person_avg})

age_demo1.style.format({"Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}", "Avg Total Purchase per Person": "${:,.2f}"})

TypeError: max expected 1 arguments, got 0

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [40]:
top_spenders = purchase_data.groupby("SN").count()["Price"]
top_spenders

purchase_count = purchase_data.groupby("SN").sum()["Price"]
purchase_count

avg_count = purchase_data.groupby("SN").mean()["Price"]
avg_count

total_value = purchase_count / top_spenders
total_value

top_analysis_df = pd.DataFrame({"Purchase Count": purchase_count,
                                   "Average Purchase Price": avg_count,
                                   "Total Purchase Value": total_value})
top_analysis_df

top_analysis_df.style.format({"Average Purchase Price": "${:,.2f}",
                                 "Total Purchase Value": "${:,.2f}"})
top_analysis_df.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76            2.28                    2.28                  2.28
Adastirin33             4.48                    4.48                  4.48
Aeda94                  4.91                    4.91                  4.91
Aela59                  4.32                    4.32                  4.32
Aelaria33               1.79                    1.79                  1.79

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [62]:
group1 = purchase_data.groupby("Item Name").sum().reset_index()
group2 = purchase_data.groupby("Item ID").sum().reset_index()
group3 = purchase_data.groupby("Item Name").count().reset_index()

group_df1 = pd.merge(group1, group2, on="Price")
group_df2 = pd.merge(group3, group_df1, on="Item Name")

group_df2["Gender"] = (group_df2["Price_y"]/group_df2["Item ID"])

group_df2_renamed = group_df2.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

final_df = group_df2_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

dataframe = final_df.set_index(["Item ID","Item Name"])
popular_items = df2.sort_values("Purchase Count", ascending=False).head()
popular_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [61]:
profitable_items = df2.sort_values("Total Purchase Value", ascending=False).head()
profitable_items.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})